customtkinter>=5.2.0
Pillow>=10.0.0
requests>=2.31.0
pynput>=1.7.6
pystray>=0.19.5
deep-translator>=1.11.4
winrt-runtime>=2.0.0
winrt-Windows.Media.Ocr>=2.0.0
winrt-Windows.Graphics.Imaging>=2.0.0
winrt-Windows.Storage.Streams>=2.0.0
pywin32>=306
